<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuarios</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
		<div class="container mt=4">
			<div class="col-sm-6">
				<form th:action="@{/saveUsuario}" th:object=${usuario} method="POST">
				<div class="card">
					<div class="card-header"></div>
					<h2>Modulo Usuarios</h2>
					<div class="card-body">
						<div class="form-group">
							<label>CEDULA</label>
							<input th:field="*{Cedula}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>NOMBRE</label>
							<input th:field="*{Nombre}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>CORREO</label>
							<input th:field="*{Correo}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>USUARIO</label>
							<input th:field="*{Usuario}" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>PASSWORD</label>
							<input th:field="*{Clave}" type="text" class="form-control" />
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
			</div>
		</div>
</body>
</html>